//+b.HEADER.header
// .content-width
//  +e.wrap
//    +e.logo-wrapper
//      +e(href="#").img-wrap
//        +icon("army","48","58")
//      +e.description-wrapper
//        +b.main-title следственный комитет российской федерации
//    +e(href="#").title Издания Следственного комитета России
//
//
//
header
 .content-width header
     .header
